---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header';
import Typography from '../components/Typography';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header currentPath={Astro.url.pathname} />
		<main class="l-main l-main--wide">
			<article>
				<div class="c-post__hero">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="c-post__body">
					<div class="c-post__title-area">
						<div class="c-post__date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<span class="c-post__updated">
										・ Last updated on <FormattedDate date={updatedDate} />
									</span>
								)
							}
						</div>
						<Typography as="h1" variant="display">{title}</Typography>
						<Typography as="p" variant="lead">{description}</Typography>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
